<a href="https://colab.research.google.com/github/soujanya1208/Assignment1-18K41A04H3-/blob/master/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>What is Colaboratory?</h1>

Colaboratory, or "Colab" for short, allows you to write and execute Python in your browser, with 
- Zero configuration required
- Free access to GPUs
- Easy sharing

Whether you're a **student**, a **data scientist** or an **AI researcher**, Colab can make your work easier. Watch [Introduction to Colab](https://www.youtube.com/watch?v=inN8seMm7UI) to learn more, or just get started below!

In [ ]:
 
a, b, c=map(int,input().split())
 
s=(a+b+c)/2
 
area=((s)*(s-a)*(s-b)*(s-c))**0.5
 
print(area)

23 46 41
470.914004888366

 Take a string from end user and check if the value is palindrome or not

In [ ]:
 
str=input("enter name:")
if(str==str[: :-1]):
  print("it is palindrome ")
else:
  print("it is not palindrome")

enter name:madam
it is palindrome

 Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
 
year=int(input("enter year"))
 
if(year%4==0):
 
  print("it is a leap year")
 
else:
 
  print("it is not a leap year")

enter year2016
it is a leap year

  Space To Hyphen problem 
Take a string as input, and replaces spaces    with hyphens -, and returns a string.
Input:  This program converts spaces into hyphen
      Output:      This-program-converts-spaces-into-hyphen

In [ ]:
 
string=input("Enter string:")
 
string=string.replace(' n','-')
 
print(string)

Enter string:"This program converts spaces into hyphen "
"This-program-converts-spaces-into-hyphen-"

 Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).
*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white
*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
 
l=[]
l=list(map(str,input().split()))
l.sort()
for i in range(len(l)):
  n=l[i]
  print(n,end=',')

orange white red cyan green magneta pink
cyan,green,magneta,orange,pink,red,white,

 Tax Calculator
Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result.

In [ ]:
 
salary =int(input("enter salary"))
if(salary<=250000):
  print("nill")
elif(salary>250001 and salary<=500000):
  t=salary*(5/100)
  print(t)
elif(salary>500001 and salary<=750000):
  t=salary*(10/100)
  print(t)
elif(salary>750001 and salary<=1000000):
  t=salary*(15/100)
  print(t)
elif(salary>1000001 and salary<=1250000):
  t=salary*(20/100)
  print(t)
elif(salary>1250001 and salary<=1500000):
  t=salary*(25/100)
  print(t)
elif(salary>1500000):
  t=salary*(30/100)
  print(t)

enter salary250000
nill

 Take a list of integers as an argument, and converts it into a single integer (return the integer).
*Input*: [11, 33, 50]
*Output*: 113350

In [ ]:
 
l =[11,33,50]
 
print(l)
 
x = int("".join(map(str, l)))
 
print(x)

[11, 33, 50]
113350

 Units of Time
Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
 
s_per_m = 60
 
s_per_h = 3600
 
s_per_d = 86400
 
d=(int(input()))
 
h=(int(input()))
 
m=(int(input()))
 
s=(int(input()))
 
total_seconds = d*s_per_d
 
total_seconds = total_seconds + ( h*s_per_h)
 
total_seconds = total_seconds + ( m *s_per_m)
 
total_seconds = total_seconds + s
 
 
 
print("%d"%(total_seconds))

1
0
0
0
86400

 Sort 3 Integers
Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
 
l=[]
 
l1=[]
 
l=list(map(int,input().split())) 
 
maxi=max(l)
 
mini=min(l)
 
l1.append(maxi)
 
l1.append(mini)
 
print(l1)

5 4 9
[9, 4]

 Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
 
year=int(input("enter year"))
 
if year%4==0:
 
  leap_year=True
 
else:
 
  leap_year=False
 
month=int(input("enter month"))
 
if month in(1,3,5,7,9,11):
 
  month_length=31
 
elif month in(4,6,8,10,12):
 
  month_lenth=30
 
else:
 
  if leap_year:
 
    month_length=29
 
  else:
 
    month_length=28
 
day=int(input("enter day"))
 
if day < month_length:
 
    day = day+1
 
else:
 
    day = 1
 
    if month == 13:
 
        month = 1
 
        year= year+1
 
    else:
 
        month = 1
 
print(" [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

enter year2020
enter month2
enter day28
 [yyyy-mm-dd] 2020-2-29.

 Compute product of a list of numbers [45 ,3,2,89,72,1,10,7]
Output: 121111200

In [ ]:
 
l=[45,3,2,89,72,1,10,7]
mul=1
 for i in l:
  mul= mul*i
 print(mul)

121111200

 Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output
Output: Out_list=[11,14,42,123,90]

In [ ]:
 
l=[5,6,8,34,89,1]
l1=[]
for i in range(len(l)-1):
  s=l[i]+l[i+1]
  l1.append(s) 
print(l1)

[11, 14, 42, 123, 90]

  Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output
Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
 
l=[5,6,8,3,9,1]
l1=[]
s=1
for i in range(len(l)):
  s=s*l[i]
  l1.append(s) 
print(l1)

[5, 30, 240, 720, 6480, 6480]

  Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
 
n = str(input("Enter the number: "))
 
c = str(n)
 
list=[]
 
for i in range(len(c)):
 
    list.append(int(c[i]))
 
print(list)

[5, 8, 6, 3, 9, 2]

 Write a program that finds the longest palindromic substring of a given string

In [ ]:
 
def longestpalindrome(n):
 
   d=[[False for i in range(len(n))] for i in range(len(n))]
 
   for i in range(len(n)):
 
    d[i][i]=True
 
   maxlen=1
 
   start=0
 
   for j in range(2,len(n)+1):
 
     for i in range(len(n)-j+1):
 
        end=i+j
 
        if j==2:
 
          if n[i]==n[end-1]:
 
           d[i][end-1]=True
 
           maxlen=j
 
           start=i
 
        else:
 
          if n[i]==n[end-1] and d[i+1][end-2]:
 
           d[i][end-1]=True
 
           maxlen=j
 
           start=i
 
   return n[start:start+maxlen]
 
n=input("Enter a string")
 
print(longestpalindrome(n))

Enter a stringForgreekkeergor
greekkeerg

 Substring Check (Bug Funny)
Given two binary strings, A (of length 10) and B (of length 5), output 1 if B is a substring of A and 0 otherwise.
First two lines of input:
 
1010110010          10110
1110111011           10011
First two lines of output:
1
0

In [ ]:
 
A,B= input("enter binary string of length 10 and 5:").split()
 
if (A.find(B) == -1):
 
  print("Output=0")
 
else: 
 
  print("Output=1")

enter binary string of length 10 and 5:1110111011 10011
Output=0

   POUR1 - Pouring water
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':
emptying a vessel,
filling a vessel,
pouring water from one vessel to the other, without spilling, until one of the vessels is either full or empty.
Input
An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.
Output
For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.
 
Example
Sample input:
2
5
2
3
2
3
4
 
Sample output:
2
-1

In [ ]:
 
t=int(input("enter test cases"))
 
for i in range(0,t):
 
  a, b, c=map(int,input().split())
 
  if a>b:
 
    d=a-b
 
  elif b>a:
 
    d=b-a
 
  if c==a or c==b:
 
    print("1")
 
  elif d==c:
 
    print("2")
 
  else:
 
    print(-1)

enter test cases2
5 2 3
2
2 3 4
-1