<a href="https://colab.research.google.com/github/soujanya1208/Assignment1-18K41A04H3-/blob/master/Copy_of_Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Develop a code for below scenario

In [ ]:
 
d={0:"monkey",1:"rooster",2:"dog",
 
3:"pig",4:"rat",5:"ox",6:"tiger",
 
7:"rabbit",8:"tiger",9:"snake",10:"horse"}
 
year=int(input("enter year:"))
 
print(year)
 
r=year%12
 
if r in d:
 
  print(d[r])

enter year:2012
2012
tiger

 A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [ ]:
 
dis=int(input("enter dis:"))
 
weg=int(input("enter weg:"))
 
if(dis>=500 and weg>=100):
 
  amount=dis*5
 
  print(amount)
 
elif(dis>=500 and weg>=10 and weg<100):
 
  amount=dis*6
 
  print(amount)
 
elif(dis>=500 and weg<10):
 
  amount=dis*7
 
  print(amount)
 
else:
 
  if(dis<500 and weg>=100):
 
    amount=dis*8
 
    print(amount)
 
  else:
 
   amount=dis*5
 
   print(amount)

enter dis:520
enter weg:50
3120

 
The Entertainment Paradise
 
 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input:  Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [ ]:
 
seat=str(input("type of seat:"))
 
payment=str(input("payment cash or card:"))
 
if (payment=="cash"):
  if(seat=="stall"):
    d=625-(625*10/100)
    print(d)
  elif(seat=="circle"):
    d=750-(750*10/100)
    print(d)
  elif(seat=="uppercalss"):
    d=850-(850*10/100)
    print(d)
  elif(seat=="box"):
    d=1000-(1000*10/100)
    print(d)
else:
  if(seat=="stall"):
    d=625-(625*5/100)
    print(d)
  elif(seat=="circle"):
    d=750-(750*5/100)
    print(d)
  elif(seat=="uppercalss"):
    d=850-(850*5/100)
    print(d)
  elif(seat=="box"):
    d=1000-(1000*5/100)
    print(d)

type of seat:circle
payment cash or card:cash
675.0

 Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature  initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [ ]:
 
kg=int(input("enter water in kg:"))
 
m=kg
 
initemp=float(input("enter ini temp:"))
 
fintemp=float(input("enter fin temp:"))
 
Q=m*(fintemp-initemp)*4184
 
print(Q)

enter water in kg:50
enter ini temp:37
enter fin temp:42
1046000.0

 Develop a program that prompts user to enter month and  print 
Winter  -   December ,January and February
Spring  -   March ,April and May
Summer  --- June ,July, August
Autumn   -- September ,October, November

In [ ]:
 
z=str(input("entermonth:"))
 
 if z in ("dec","jan","feb"):
 
    print("winter")
 
 elif z in ("mar","apl","may"):
 
    print("spring")
 
 elif z in ("jun","july","aug"):
   print("summer")
 
 elif z in ("sep","oct","nov"):
   print("autum")

entermonth:apl
spring

 Body Mass Index

In [ ]:
 
#python 3.7.1
 
kg=float(input("enter weight in kg:"))
 
meter=float(input("enter height in meters:"))
 
bmi=kg/(meter*meter)
 
if(bmi<18.5):
  print("underweight")
elif(18.5<=bmi<25.0):
  print("normal")
elif(25.0<=bmi<30.0):
  print("overweight")
elif(30.0<=bmi):
  print("obese")

enter weight in kg:60
enter height in meters:5
underweight

 Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer  (   ex: input 745   # output =16    (7+4+5) )

In [ ]:
 
#python 3.7.1
 
num=int(input("enter number in between 100 to 1000:"))
 
x=num//1000
 
x1=(num-x*1000)//100
 
x2=(num-x*1000-x1*100)//10
 
x3=num-x*1000-x1*100-x2*10
 
print(x+x1+x2+x3)

enter number in between 100 to 1000:745
16

 
Print all palindrome numbers between 1 to 1000.

In [ ]:
 
for n in range(1,1000):
  sum=0
  temp=n
  while(n!=0):
   r=n%10
   n=n//10
   sum=sum*10+r
  if(sum==temp):
   print(temp)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

 Print all Armstrong numbers between 1 to 1000.

In [ ]:
 
for n in range(1,1000):
 
  sum=0
 
  temp=n
 
  while n>0 :
 
   r=n%10
 
   sum=sum+r*r*r
 
   n=n//10
 
  if sum==temp:
 
   print(sum)

1
153
370
371
407

 Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [ ]:
 
for i in range(1,100):
  if(i%3==0 and i%5==0):
    print("Fizz Buzz")
  elif(i%3==0):
    print("Fizz")
  elif(i%5==0):
    print("Buzz")

Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz Buzz
Fizz
Buzz
Fizz
Fizz

 
Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesnt a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers H height of the well, next U meters climbs up in each step, and the last D meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
    Input:                      Ouput 
    200 50 1                        5
    Example 2:
    Input:                      Output
    500 20 15                      98

In [ ]:
 
h=int(input("enter height:"))
u=int(input("enter meter climbed by spider:"))
d=int(input("enter meter slipped by spider:"))
v=0
while h>=u:
  v=v+1
  h=h-(u-d)
v=v+1
print("number of steps:",v)

enter height:500
enter meter climbed by spider:20
enter meter slipped by spider:15
number of steps: 98